{{#extends "layouts/main"}}

{{#content "body"}}
<div class="home">
    <h1>Welcome to Your Blog</h1>
    
    {{#if isAuthenticated}}
    <p>Hello, {{user.username}}!</p>
    <p>Explore the latest blog posts:</p>
    {{else}}
    <p>Log in or sign up to start creating and sharing your own blog posts.</p>
    {{/if}}

    <!-- Display a list of latest blog posts -->
    {{#if blogPosts.length}}
    <h2>Latest Blog Posts</h2>
    <ul>
        {{#each blogPosts}}
        <li>
            <a href="/post/{{this.id}}">{{this.title}}</a>
            <span>{{this.createdAt}}</span>
            <p>By {{this.User.username}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No blog posts available.</p>
    {{/if}}
</div>
{{/content}}
